.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 3fr 3fr 0.3fr;
    grid-template-areas: 
    "main" 
    "content1"
    "content2"
    "content3"
    "footer";
    grid-gap: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
  }

 main{
        background: beige;
        grid-area: main;
    }

#content1{
        background-color: teal;
        grid-area: content1;
        text-align: center;
        margin-left: 300px;
        padding: 0px;
    }

.introh3{
        text-align: center;
    }

#content2{
    background: tan;
    grid-area: content2;
    text-align: center;
}

#content3{
    background: tan;
    grid-area: content2;  
}

footer{
    background: rgb(100, 202, 195);
    grid-area: footer;
    text-align: center;
}

@media only screen and (max-width: 550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 2.2fr 2.2fr 1.2fr 0.3fr;
        grid-template-areas: "main" "content1" "content2" "footer";
    }
} 

body{
    margin: 0;
    background-color: beige;
}

.dropbtn {
    background-color: rgb(100, 202, 195);
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: teal;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: teal;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #b7b5b5;}
  
  .show {display: block;}


.navbar{
    width:100vw;
    background-color: rgb(100, 202, 195);
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a {
    color: aliceblue;
    text-decoration: none;

}

ul{
    list-style:none;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    margin:0;
    height:3em;
    padding: 0;
}

ul li{
    padding-right:2em;
    font-weight:bold;
    color:aliceblue;

}
li:first-child{
    margin-right:auto;
    margin-left:2em;
    font-size:larger;
}

.custom-profilepic{
    width:275px;
    height:350px;
    margin-left: 100px;
    margin-right: auto;
    float: left;
    border-radius: 40%;
    margin-top: 40px;
}

main h1{
    margin-top: 150px;
    text-align: center;
    margin-bottom: 30px;
}

main h4{
    text-align: center;
    margin-top: 40px;
}

.researchheader{
    text-align: center;
    font-size: 24px;
    text-decoration:underline;
}
.researchheader1{
text-align: center;
margin-top: 70px;
margin-left: 50px;
}

#pdf-container {
    text-align: center; /* Center the content within #pdf-container */
    padding: 100px; /* Add padding around the content */
  }

#pdf-container iframe {
    text-align: center;
    width: 75%; /* Set the width of the iframe to 80% of its container */
    height: 700px; /* Set the height as needed */
    border: 0; /* Remove iframe border */
    margin-left: 40px;
  }

.tableauPlaceholder{
    margin-right: auto;
    margin-left: 300px;
    width: 500px;
    height: 400px;
    margin-bottom: 100px;
}

.researchheader3{
    text-align: center;
}


